.navbar {
    gap: 15px;
    height: 60px;
    display: flex;
    padding-block: 5px;
    padding-inline: 7px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: calc(100% - 10%);
    background-color: var(--whiteColor);
    z-index: 999;
    border-bottom: 2px solid var(--darkMainColor);

    & .logo {
        width: 120px;
        height: 100%;
    }

    & .bars {
        display: none;
    }

    & .bars,
    & .options,
    & .user {
        & i {
            font-size: 24px;
            cursor: pointer;
            color: var(--mainColor);
        }
    }

    & .menu ul {
        gap: 30px;
        display: flex;
        align-items: center;
        justify-content: start;

        & li a {
            text-align: end;
            font-weight: bold;
            position: relative;
            text-transform: uppercase;

            &:hover,
            &.active {
                color: var(--mainColor);
            }

            &::before {
                content: '';
                width: 0;
                height: 3px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transition: 0.3s;
                transform: translateX(-50%);
                background-color: var(--mainColor);
            }

            &:hover::before,
            &.active::before {
                width: 100%;
            }
        }

        & .options,
        & .user {
            position: relative;
        }
    }

    & .dropList {
        width: 200px;
        gap: 5px !important;
        position: fixed;
        top: 70px;
        right: 50px;
        z-index: 100;
        padding: 5px;
        border-radius: 7px;
        flex-direction: column;
        background: var(--mainColor);
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);

        & li {
            width: 100%;

            & a {
                padding: 5px;
                display: block;
                text-align: start;
                border-radius: 3px;
                padding-inline-end: 10px;
                text-transform: capitalize;

                & span {
                    color: var(--whiteColor);
                }

                & i {
                    font-size: 14px;
                    margin-inline-start: 5px;
                    color: var(--whiteColor);
                }

                &:hover,
                &.active {
                    color: var(--whiteColor);
                    background-color: var(--mainHoverColor);

                    & span {
                        padding-inline-end: 5px;
                    }
                }

                &::before {
                    display: none;
                }
            }
        }
    }

    & .dropList.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

.section {
    gap: 15px;
    display: flex;
    align-items: center;
    margin-block: 50px;
    flex-direction: row-reverse;
    justify-content: space-between;

    & .section-image {
        width: 50%;
    }

    & .section-text {
        flex: 1;
        direction: rtl;

        & h2 {
            font-size: 24px;
            line-height: 1.3;
        }

        & p {
            font-weight: 600;
            margin-block: 30px;
            line-height: 1.6;
        }
    }
}

.site_goals {
    margin-bottom: 90px;

    & .cards {
        gap: 30px;
        display: grid;
        text-align: center;
        margin-block: 30px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

        & .card {
            padding: 15px;
            border-radius: 15px;
            box-shadow: 0px 0px 14px -4px #00000030;

            & i {
                font-size: 60px;
                margin-block: 15px;
                color: var(--mainColor);
            }

            &:hover {
                background-color: var(--mainHoverColor);

                & * {
                    color: var(--whiteColor);
                }
            }
        }
    }
}

.site_helps_you {
    & .cards {
        grid-template-columns: repeat(3, 1fr);

        & .card {
            & .title {
                margin-block: 5px 10px;
            }
        }
    }
}

.calculate {
    direction: rtl;

    & .rows {
        width: 40%;
        margin: auto;

        & .row {
            gap: 15px;
            display: flex;
            align-items: center;

            & .col:first-child {
                font-weight: bold;
            }

            & .col:last-child {
                direction: ltr;
            }
        }
    }

    & .total {
        display: block;
        padding: 7px;
        margin-block: 30px;
        text-align: center;
        background-color: var(--mainColor);

        & h3 {
            color: var(--whiteColor);
        }
    }
}

.coming_offers {
    gap: 15px;
    display: flex;
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 7px;
    align-items: center;
    background-image: linear-gradient(120deg, var(--whiteColor), var(--mainColor));

    & .image {
        width: 300px;

        & img {
            border-radius: 7px;
        }
    }

    & .text {
        direction: rtl;

        & h3 {
            margin-block: 30px;
        }

        & button {
            font-size: 18px;
            font-weight: bold;
        }
    }
}

.interaction {
    direction: rtl;

    & ul {
        & li {
            margin-bottom: 15px;
        }
    }
}

.about_us {
    direction: rtl;
    margin-top: 30px;

    & p {
        margin: auto;
        line-height: 1.6;
        font-size: 18px;
        margin-bottom: 15px;
    }

    & h2 {
        margin-top: 15px;
    }
}

.details {
    text-align: center;

    & section>p {
        width: 70%;
        margin: auto;
    }

    & .monthly_sales_data {
        gap: 30px;
        margin: auto;
        display: flex;
        align-items: center;
        margin-block: 50px;
        justify-content: center;

        & .totals {
            gap: 15px;
            display: flex;
            font-weight: bold;
            flex-direction: column;

            & .total {
                width: 150px;
                line-height: 1.3;
                text-align: center;
                position: relative;
                padding-block: 7px;

                * {
                    color: var(--whiteColor);
                }

                & p {
                    font-size: 20px;
                }

                & b {
                    font-size: 22px;
                    text-transform: uppercase;
                }

                &:before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    border-radius: 7px;
                    background-color: var(--darkMainColor);
                }

                &:first-child::before {
                    opacity: 0.4;
                }

                &:nth-child(1)::before {
                    opacity: 0.6;
                }

                &:nth-child(2)::before {
                    opacity: 0.8;
                }

                &:last-child::before {
                    opacity: 1;
                }
            }
        }

        & .myChart {
            position: relative;
            height: 350px !important;
        }

        & .myChartLine {
            width: 100% !important;
        }

        & .myChart_1 {
            width: 500px;
        }

        & .myChart_2 {
            width: 400px !important;
        }

        canvas {
            width: 100% !important;
            height: auto !important;
        }
    }
}

.debt_details {
    /* direction: rtl; */
    margin-bottom: 50px;

    & table {
        width: 70%;
        margin: auto;
        border-collapse: collapse;
        border: 2px solid var(--mainColor);

        & th,
        & td {
            padding-block: 7px;
            text-align: center;
            border: 1px solid var(--mainColor);
        }
    }
}

.budget_preparation .content {
    gap: 30px;
    display: flex;
    flex-direction: row-reverse;

    & .image {
        /* flex: 1; */
        width: 40%;
    }

    & .form {
        width: 50%;
        padding: 30px;
        margin-top: 100px;
        height: fit-content;
        background-color: var(--whiteColor);

        & form {

            & .groups {
                gap: 15px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & .group {
                    width: 100%;
                    height: 50px;
                    margin-bottom: 30px;
                    position: relative;

                    & label {
                        position: absolute;
                        top: 50%;
                        right: 5px;
                        pointer-events: none;
                        padding-inline: 10px;
                        color: var(--mainColor);
                        transform: translate(0, -50%);
                        background-color: var(--whiteColor);
                    }

                    & input:focus+label,
                    & input:not(:placeholder-shown)+label {
                        top: 0;
                        font-size: 14px;
                    }

                    & input,
                    & select {
                        height: 100%;
                        padding: 5px 10px;
                        font-weight: bold;
                        border: 2px solid var(--mainColor);
                    }

                    & input,
                    & select,
                    & button {
                        width: 100%;
                        height: 100%;
                        border-radius: 7px;
                    }

                    & button {
                        cursor: pointer;
                        font-size: 18px;
                        font-weight: bold;
                        border-radius: 3px;
                    }
                }
            }

            & .submit {
                width: 50% !important;
                margin: auto;

                & button {
                    width: 100%;
                    cursor: pointer;
                    transition: 0.3s;
                    font-weight: bold;
                }
            }
        }
    }
}

.section-services {
    direction: rtl;
    margin-bottom: 50px;

    & .head {
        & p {
            width: 70%;
            text-align: center;
            margin: 0 auto 30px;
        }
    }

    & .row {
        gap: 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        & .col {
            padding: 3px;
            border-radius: 7px;
            background-color: var(--mainColor);

            & .image {
                height: 150px;
                overflow: hidden;
                border-radius: 7px;
            }

            & span {
                display: block;
                padding: 5px 20px;
                font-weight: bold;
                text-align: center;
                letter-spacing: 1px;
                color: var(--whiteColor);
            }

            &:first-child .image img:hover {
                transform: scale(1.05) rotate(4deg);
            }

            &:nth-child(2) .image img:hover {
                transform: scale(1.05) rotate(2deg);
            }

            &:nth-child(3) .image img:hover {
                transform: scale(1.05);
            }

            &:nth-child(4) .image img:hover {
                transform: scale(1.05) rotate(-2deg);
            }

            &:last-child .image img:hover {
                transform: scale(1.05) rotate(-4deg);
            }
        }
    }

    & ul {
        & li {
            margin-bottom: 30px;
        }
    }
}

.services-content {
    margin: auto;
    margin-bottom: 50px;
    text-align: center;

    & .head {
        position: relative;
        margin-bottom: 30px;

        & p {
            width: 70%;
            text-align: center;
            margin: 0 auto 30px;
        }

        & a {
            position: absolute;
            bottom: 0;
            right: 0;
            border-radius: 3px;

            & * {
                color: var(--whiteColor);
            }
        }
    }

    &._1 h2 {
        background-color: #06eca0;
    }

    &._2 h2 {
        background-color: #eb5f01;
    }

    &._3 h2 {
        background-color: #14e805;
    }

    &._4 h2 {
        background-color: #0c72d1;
    }

    &._5 h2 {
        background-color: #e108de;
    }

    & .content {
        gap: 15px;
        display: flex;
        align-items: start;
        flex-direction: row-reverse;
        justify-content: space-between;

        & .image {
            /* flex: 1; */
            width: 40%;
        }

        & .form {
            width: 50%;
            height: auto;
            padding: 35px;
            align-content: center;
            background-color: rgb(155, 154, 154);
            background-color: var(--whiteColor);

            & h2 {
                font-size: 36px;
            }

            & form {
                & .group:not(:has(textarea)) {
                    height: 40px;
                }

                & .group:has(button) {
                    height: 45px;
                }

                & .group:has(textarea) {
                    height: 90px;

                    & label {
                        top: 20px;
                        transform: translate(0, -50%);
                    }
                }

                & .group:has(i) {
                    height: 50px;

                    & input {
                        padding-inline-start: 50px !important;
                    }

                    & label {
                        right: 45px;
                    }
                }

                & .group {
                    width: 100%;
                    margin-top: 20px;
                    position: relative;

                    & label {
                        position: absolute;
                        top: 50%;
                        right: 5px;
                        pointer-events: none;
                        padding-inline: 10px;
                        color: var(--mainColor);
                        transform: translate(0, -50%);
                        background-color: var(--whiteColor);
                    }

                    & i {
                        width: 35px;
                        height: 35px;
                        align-content: center;
                        position: absolute;
                        top: 50%;
                        right: 7px;
                        border-radius: 3px;
                        transform: translateY(-50%);
                        color: var(--whiteColor);
                        background-color: var(--mainColor);
                    }

                    & input:focus+label,
                    & textarea:focus+label,
                    & input:not(:placeholder-shown)+label,
                    & textarea:not(:placeholder-shown)+label {
                        top: 0;
                        font-size: 12px;
                    }

                    & input,
                    & textarea,
                    & select {
                        height: 100%;
                        resize: none;
                        padding: 5px 10px;
                        font-weight: bold;
                        border: 2px solid var(--mainColor);
                    }

                    & input,
                    & textarea,
                    & select,
                    & button {
                        width: 100%;
                        height: 100%;
                        border-radius: 7px;
                    }

                    & button {
                        cursor: pointer;
                        font-size: 18px;
                        font-weight: bold;
                    }
                }

                & .group:has(#retirement_age),
                & .group:has(#debt_type) {
                    margin-top: 0 !important;
                }

                & .groups {
                    gap: 15px;
                    display: flex;
                    margin-top: 30px;

                    & .group {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    & .contact-tool {
        gap: 15px;
        height: 50px;
        display: flex;
        margin-top: 50px;
        font-weight: bold;
        align-items: center;
        justify-content: center;

        & .col {
            & a {
                display: block;
                color: var(--mainColor);
            }
        }
    }

    & .news {
        gap: 15px;
        display: grid;
        margin-bottom: 50px;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));

        & .new {
            padding: 7px;
            border-radius: 7px;
            background-color: gray;
            background-color: var(--whiteColor);
            box-shadow: 0px 3px 14px -4px rgba(0, 0, 0, 0.1);

            & .image {
                overflow: hidden;
                border-radius: 7px;
            }

            & .text {
                text-align: start;

                & b {
                    font-size: 24px;
                }

                & p {
                    line-height: 1.6;
                }

                & a {
                    padding: 5px;
                    font-size: 12px;
                    border-radius: 3px;
                    margin-top: 15px;
                }

                & span,
                & i {
                    color: var(--whiteColor);
                }
            }

            &:hover {
                background-color: var(--mainHoverColor);
            }
        }
    }

    & .news.other {
        gap: 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        & .image {
            width: 170px;
            height: 110px;
            overflow: hidden;
            border-radius: 7px;
        }

        & .text {
            & b {
                font-size: 18px;
            }
        }

    }

    & .budget_cards {
        gap: 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        & .card {
            width: 170px;
            height: 120px;
            border-radius: 7px;
            align-content: center;
            background-color: var(--mainColor);

            & h3,
            & span {
                color: var(--whiteColor);
            }

            & span {
                font-size: 24px;
                font-weight: bold;
            }
        }
    }

    & .parentProgressChart {
        display: grid;
        margin-top: 50px;
        grid-template-columns: 60% 40%;
    }

    &._add_budget {
        & .form {
            height: auto;
        }
    }
}

.services-content.educational {
    & .supHeadSection {
        text-align: end;
        margin-bottom: 15px;
    }

    & .news {
        gap: 30px;
        display: grid;
        direction: rtl;
        grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));

        & .new {
            padding: 7px;
            border-radius: 7px;
            box-shadow: 0 0 14px -4px #00000020;

            & .video {
                position: relative;
                width: 100%;
                padding-bottom: 56.25%;
                height: 0;

                & iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            & .title {
                padding-block: 7px;
            }

            &:hover {
                background-color: var(--whiteColor);
            }
        }
    }

    & .cards {
        gap: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

        & .card {
            padding: 7px;
            direction: rtl;
            border-radius: 7px;
            background-color: var(--whiteColor);
            box-shadow: 0 0 14px -4px #00000020;

            & .title {
                padding-block: 7px;
            }

            & a {
                margin: 15px;
                border-radius: 7px;

                & span {
                    color: var(--whiteColor);
                }
            }

            & .download,
            & i {
                color: var(--mainColor);
            }
        }
    }

    & .article {
        & .image {
            width: 50%;
            margin: auto;

            & img {
                border-radius: 7px;
            }
        }

        & .text {
            & .title {
                font-size: 20px;
                margin-block: 15px;
            }

            & .description {
                font-size: 18px;
                line-height: 2;
            }
        }
    }
}

footer {
    direction: rtl;
    padding-block: 50px;
    margin-top: 30px;
    background-color: var(--mainColor);

    & * {
        color: var(--whiteColor);
    }

    & .container {
        & .row {
            gap: 30px;
            display: flex;
            justify-content: center;

            & .col {
                min-width: 170px;

                & h2 {
                    font-weight: normal;
                }

                & p {
                    width: 80%;
                }

                & i {
                    margin-inline: 5px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .section {
        flex-direction: column;

        &.homeSection_2 {
            flex-direction: column;
        }

        & * {
            text-align: center;
        }

        & .section-text p {
            width: 100%;
        }

        & .section-image {
            width: 70%;
        }
    }

    .default-btn a {
        margin: auto;
    }

    .details {
        & .monthly_sales_data {
            flex-direction: column;

            & .totals {
                flex-direction: row;
            }

            & .myChart_1,
            & .myChart_2 {
                width: 100% !important;
            }
        }
    }

    .services-content {
        & .parentProgressChart {
            display: flex;
            flex-direction: column;

            & .myChart {
                width: 100%;
                margin-bottom: 50px;
                position: relative;
                height: 350px !important;
            }
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        width: calc(100% - 5%);

        & .menu ul {
            gap: 20px;

            & li a {
                font-size: 14px;
            }
        }
    }

    .services-content {
        & .head {
            & p {
                width: 90%;
            }
        }
    }

    .services-content {
        & .head {
            & a {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                & span {
                    display: none;
                }

                & i {
                    font-size: 20px;
                }
            }
        }


        & .content {
            flex-direction: column;

            & .image {
                width: 50%;
                margin: auto;
            }

            & .form {
                width: 100%;
                padding: 15px;
                height: fit-content;

                & form {
                    margin-top: 0;

                    & .group {
                        height: 40px;
                        margin-top: 20px;

                        & label {
                            font-size: 12px;
                        }

                        & input:focus+label,
                        & input:not(:placeholder-shown)+label {
                            font-size: 10px;
                        }

                        & button {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        & .news.other {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

            & .image {
                width: auto;
                height: auto;
            }
        }

        & .budget_cards {
            gap: 15px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));

            & .card {
                width: auto;
                height: 120px;
            }
        }

        & .parentProgressChart {
            align-items: center;
            flex-direction: column;

            & canvas:first-child {
                width: 100% !important;
            }

            & canvas:last-child {
                width: 50% !important;
            }
        }
    }

    .monthly_sales_data {
        & .totals {
            flex-direction: row;
            flex-wrap: wrap;
        }

        & .myChart_1 {
            min-width: 100%;
        }
    }

    .budget_preparation .content {
        flex-direction: column;

        & .image {
            width: 70%;
            margin: auto;
        }

        & .form {
            width: 100%;
            padding: 15px;
            margin-top: 30px;

            & form {
                & .groups {
                    & .group {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }

    .site_helps_you {
        & .cards {
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        }
    }
}

@media (max-width: 500px) {
    .navbar {
        & .bars {
            display: block;
        }

        & .menu {
            position: fixed;
            top: 60px;
            left: calc(100% - 202px);
            opacity: 0;
            visibility: hidden;
            transform: translateY(20px);

            & ul {
                gap: 5px;
                width: 190px;
                padding: 7px;
                border-radius: 7px;
                position: absolute;
                flex-direction: column;
                background: var(--mainColor);

                & * {
                    color: var(--darkColor);
                }

                & li {
                    width: 100%;
                    text-align: center;

                    & a {
                        width: 100%;
                        display: block;
                        text-align: center;
                        padding-block: 5px;
                        border-radius: 7px;
                        color: var(--whiteColor);

                        &:hover,
                        &.active {
                            color: var(--darkColor);
                            background: var(--mainHoverColor);

                            &::before {
                                display: none;
                            }
                        }
                    }
                }
            }

            & .dropList {
                top: 30px;
                right: -85px;
                border: 2px solid var(--darkMainColor);
            }

            &.show {
                opacity: 1;
                visibility: visible;
                transform: translateY(-20px);
            }
        }
    }

    .details {
        & section>p {
            width: 100%;
        }

        & .monthly_sales_data {
            & .totals {
                flex-direction: row;
                flex-wrap: wrap;

                & .total {
                    width: 100%;
                }
            }
        }
    }

    .section {
        & .section-image {
            width: 100%;
        }

        & .section-text h2 {
            width: 70%;
            margin: auto;
            font-size: 18px;

            & p {
                font-size: 12px;
                margin-block: 15px;
            }
        }
    }

    .about_us {
        & p {
            width: 90%;
        }
    }

    .section-services {
        & .row {
            & .col {
                width: 100%;
            }

            & .image {
                height: auto !important;
            }
        }
    }

    .services-content.educational {
        & .news {
            display: flex;
            flex-direction: column;
        }
    }

    footer {
        & .container {
            & .row {
                align-items: center;
                text-align: center;
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 425px) {
    .navbar {
        width: 92%;
    }
}